.DS_Store
node_modules/
/dist/
.vuepress/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.temp
temp
软件架构探索：The Fenix Project.pdf
