blockquote {
  font-size: 15px;
  color: #555;
  background-color: #f9f9f9;
  border-left: 0.4rem solid #caccce;
}

img {
  display: block;
}

p, ul, ol {
  line-height: 1.9;
}

.vuepress-flowchart {
  overflow: auto !important;
  min-height: 100px !important;
}
