.theme-default-content:not(.custom)
  @media screen and (max-width: 960px)
    max-width: 100%;
    padding: 1rem;
  @media screen and (min-width: 961px) and (max-width: 1366px)
    max-width: 92%;
  @media screen and (min-width: 1367px)
    max-width: 80%;

.gt-container
  padding-top 20px;
  @media screen and (max-width: 1366px)
    width 90%;
    margin-left 5%;
  @media screen and (min-width: 1367px)
    width 80%;
    margin-left 10%;

.gt-container
  .gt-meta
    z-index 9 !important;

body
  word-break: break-all;

blockquote
  font-size 15px;
  color #555;
  background-color #f9f9f9;
  border-left 0.4rem solid #caccce;
  padding: 0.25rem 1rem 0.25rem 1rem;

table
  width: 100%;
  display: table;

img
  display block;

figure
  margin 0
  text-align center;

  img
    display inline;

  figcaption
    p
      margin 0;
      font-size 14px;
      line-height 16px;

p, ul, ol
  line-height 1.9;

#app
  overflow: hidden;

.index-page-class
  footer
    display none;

.board-page-class
  .gt-container
    padding-top 0;

  footer
    display none;


.badge {
  font-size: 10px !important;
}

.quote
  padding 5px 15px;
  background-color #f9f9f9;
  font-size 15px;
  color: #555;
  border-left: 0.4rem solid #caccce;

  .title
    font-weight bold;
    font-size 16px;
    margin-block-start 5px;
    margin-block-end: 0;

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem;
    text-align right;

.custom-block
  &.center
    text-align center;

    img
      margin-right auto;
      margin-left auto;

.dropdown-wrapper .nav-dropdown .dropdown-item
  line-height: 2rem;

.print-break
  page-break-after: always;
  padding-bottom 20px;

.git-hub
  display block
  padding-bottom 5px
  a
    color #fff;

.gt-container .gt-error
  color #666;
  font-size 14px;

.github-wrapper
  display block;

.gt-container .gt-error:after
  content: "，无法访问GitHub，评论功能不能使用。你需要科学上网"

.only-for-printer
  display none

@media print
  .navbar
  .page-edit
  .page-nav
  .not-print
  #vuepress-plugin-comment
    display none !important;

  div[class*=language-]
  pre
  div[class*=language-]
  pre[class*=language-]
    box-shadow: inset 0 0 0 1000px #000;
    white-space: pre-wrap;
    word-wrap: break-word;

  .token.comment
  .token.block-comment
  .token.prolog
  .token.doctype
  .token.cdata
    color: #eee;

  .custom-block.tip
  .quote
  blockquote
    box-shadow: inset 0 0 0 1000px #f3f5f7;

  .only-for-printer
    display block
